.fnt-serif{
    font-style: oblique;
    font-family: Consolas, sans-serif;
}

.fnt-lg{
    font-size: large;
    font-weight: bold;
}

.block{
    margin: 20px 20px;
    padding: 20px 20px;
}

#click-content{
    border-right: 1px solid;
    border-bottom: 1px solid;
}


#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
}
